.title {
    background-color: #03045E;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 40px;
}
.ptdiv{ padding: 15px;
            border-radius: 5px;
            color: white;
            font-size:25px;}
.bm1 {
    background-color: #023E8A;
}
.bm2 {
    background-color: #0077B6;
}
.bm3 {
    background-color: #0096C7;
}
.bm4 {
    background-color:#00B4D8;
}
.bm5 {
    background-color: #48CAE4;
}
.bm6 {
    background-color: #90E0EF;
}
.bm7 {
    background-color: #ADE8F4;
}
.bm8 {
}
