<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadruDidactic Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/student-form.css}" />
</head>
<body>
<div class="container mt-5">
    <h2 class="title ">Cadru Didactic</h2>
    <form class="requires-validation" th:action="@{/save_cadruDidactic}" th:object="${cadruDidactic}" method="post">
        <input class="form-control" type="hidden"  id="id" placeholder="Id" th:field="*{id}">

        <div class="mb-3 bm2">
            <label for="nume" class="form-label">Nume</label>
            <input type="text" class="form-control" id="nume" name="nume" th:field="*{nume}" required>
        </div>
        <div class="mb-3 bm3">
            <label for="prenume" class="form-label">Prenume</label>
            <input type="text" class="form-control" id="prenume" name="prenume" th:field="*{prenume}" required>
        </div>
        <div class="mb-3 bm4">
            <label for="marca" class="form-label">Marca angajat</label>
            <input type="text" class="form-control" id="marca" name="marca" th:field="*{marca}" required>
        </div>
        <div class="mb-3 bm5">
            <label for="titlu" class="form-label">Titlu</label>
            <input type="text" class="form-control" id="titlu" name="titlu" th:field="*{titlu}" required>
        </div>
        <div class="mb-3 bm6">
            <label for="post" class="form-label">Post</label>
            <select class="form-control" id="post" name="post" th:field="*{post}" required>
                <option value="Asistent universitar">Asistent universitar</option>
                <option value="Sef lucrari/Lector">Sef lucrari/Lector</option>
                <option value="Conferentiar universitar">Conferentiar universitar</option>
                <option value="Profesor universitar">Profesor universitar</option>
                <option value="CDA">CDA</option>
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</body>
</html>