<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/dashboard}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Nume Intreg</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d7ca018e94.js" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
<h1>Catalog for <span th:text="${student.fullName()}"></span></h1>
<table border="1">
  <thead>
  <tr>
    <th>Disciplina</th>
    <th>Nota</th>
    <th>Credite</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="nota : ${student.discipline}">
    <td th:text="${nota.disciplina.materie}"></td>
    <td th:text="${nota.valoare}"></td>
    <td th:text="${nota.disciplina.credite}"></td>
  </tr>
  </tbody>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
