<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licențe</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>

</head>
<body>
<div class="container mt-5">
  <h2 class="title ">Licențe Facultăți</h2>
  <div class="mb-3 bm6 ptdiv">
    <label for="post" class="form-label">IESC</label>
    <select class="form-control" id="post" name="post"  required>
      <option value="Asistent universitar">Automatică și Informatică Aplicată</option>
      <option value="Sef lucrari/Lector">Tehnologia Informației</option>
      <option value="Conferentiar universitar">Calculatoare</option>
    </select>
  </div>
  <div class="mb-3 bm6 ptdiv">
    <label for="post" class="form-label">Economie</label>
    <select class="form-control" id="post" name="post"  required>
      <option value="">Automatică și Informatică Aplicată</option>
      <option value="">Tehnologia Informației</option>
      <option value="">Calculatoare</option>
    </select>
  </div>

</div>
</body>
</html>