
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
   <!--Partea din head o sa o avem in cam toate paginile-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mobile Application</title>
    <!-- Legatura cu bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include CSS personalizat dacă este necesar- 
     REFERINTA SE VA FACE DOAR CA AICI-->
    <link rel="stylesheet" th:href="@{/nav.css}" />
</head>
</head>
<body>
    <!-- Navbar -->
    <div layout:fragment="content" style="height:100%;">
        <div class="bg-image h-100" style="background:#174664;; display:flex; justify-content:center;">
    <div style="display:flex">
        <img th:src="@{/images/Sigla_UNITBV1.png}" alt="" style="align-self:center;width:100%; height:75%;" >
    </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">Ciclu de invatamant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">Cadre didactice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">CATALOG</a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>