<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/dashboard}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cadruDidactic Form</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/student-form.css}"/>
</head>
<body>
<div class="container mt-5" layout:fragment="content">
  <h2 class="title ">Program Studiu</h2>
  <form class="requires-validation" th:action="@{/save_programStudiu}" th:object="${programStudiu}" method="post">
    <input class="form-control" type="hidden"  id="id" placeholder="Id" th:field="*{id}">

    <div class="mb-3 bm2 ptdiv">
      <label for="nume" class="form-label">Nume</label>
      <input type="text" class="form-control" id="nume" name="nume" th:field="*{nume}" required>
    </div>
    <div class="mb-3 bm3 ptdiv">
      <label for="prenume" class="form-label">Durata</label>
      <input type="number" class="form-control" id="prenume" name="prenume" th:field="*{durata}" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</body>
</html>