<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Nume Intreg</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d7ca018e94.js" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <div>
        <div class="container">
            <div th:each="student: ${studenti}" class="mb-3">
                <div class="card row" style="margin:3px;">
                    <div class="card-body" style="display:flex;">
                        <a class="col text-decoration-none text-reset">
                            <div class="card-text col" style="text-align: center" th:text="${student.fullName}"></div>
                        </a>
                        <div class="col-4 d-flex">
                            <a href="student-form" class="col-2 text-decoration-none text-reset">
                                <i class="fa-sharp fa-solid fa-trash"></i>
                            </a>
                            <a href="student-form" class="col-2 text-decoration-none text-reset">
                                <i class="fa-solid fa-user-pen"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
