<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/student-form.css}" />
</head>
<body>
    <div class="container mt-5">
        <h2 class="title ">Student Form</h2>
        <form class="requires-validation" th:action="@{/save_student}" th:object="${student}" method="post">
            <input class="form-control" type="hidden"  id="id" placeholder="Id" th:field="*{id}">
            <div class="mb-3 bm1 ptdiv">
                <label for="nrMatricol" class="form-label">Nr. Matricol</label>
                <input type="text" class="form-control" id="nrMatricol" name="nrMatricol" th:field="*{nrMatricol}" required>
            </div>
            <div class="mb-3 bm2 ptdiv">
                <label for="nume" class="form-label">Nume</label>
                <input type="text" class="form-control" id="nume" name="nume" th:field="*{nume}" required>
            </div>
            <div class="mb-3 bm3 ptdiv">
                <label for="prenume" class="form-label">Prenume</label>
                <input type="text" class="form-control" id="prenume" name="prenume" th:field="*{prenume}" required>
            </div>
            <div class="mb-3 bm4 ptdiv">
                <label for="iniT" class="form-label">Inițiala Tatălui</label>
                <input type="text" class="form-control" id="iniT" name="iniT" th:field="*{iniT}" required>
            </div>
            <div class="mb-3 bm5 ptdiv">
                <label for="CNP" class="form-label">CNP</label>
                <input type="text" class="form-control" id="CNP" name="CNP" th:field="*{CNP}" required>
            </div>
            <div class="mb-3 bm6 ptdiv">
                <label for="dataInscriere" class="form-label">Data Înscriere</label>
                <input type="date" class="form-control" id="dataInscriere" name="dataInscriere"  th:field="*{dataInscriere}" required>
            </div>
            <div class="mb-3 bm7 ptdiv">
                <label for="ciclu" class="form-label">Ciclu de Învățământ</label>
                <select class="form-control" id="ciclu" name="ciclu" th:field="*{ciclu}" required>
                    <option value="l">Licență</option>
                    <option value="m">Masterat</option>
                </select>
            </div>
            <div class="mb-3 bm8 ptdiv">
                <label for="medie" class="form-label">Medie</label>
                <input type="number"  class="form-control" id="medie" name="medie" th:field="*{medie}" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>