<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Nume Intreg</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d7ca018e94.js" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <div>
        <div class="container">
            <div class="card row" style="margin-top:7px;margin-bottom:3px;margin-right:3px;margin-left:3px;">
                <div class="card-body" style="display:flex;">
                    <form class="requires-validation col" action="/search" method="post" >
                        <select class="form-control" id="post" name="post"  required>
                            <option value="4LF421">4LF421</option>
                            <option value="4LF422">4LF422</option>
                            <option value="4LF423">4LF423</option>
                            <option value="4LF424">4LF424</option>
                        </select>
                        <button type="submit" class="btn btn-primary col">Search grupa</button>
                    </form>
                    <form class="requires-validation col" action="/search" method="post" >
                        <input type="text" name="searchItem" placeholder="..." value="Nume" class="form-control col">
                        <button type="submit" class="btn btn-primary col">Search nume</button>
                    </form>
                    </div>
                </div>
            <div th:each="student: ${studenti}" class="mb-3">
                <div class="card row" style="margin:3px;">
                    <div class="card-body" style="display:flex;">
                        <a class="col text-decoration-none text-reset">
                            <div class="card-text col" style="text-align: center" th:text="${student.fullName}"></div>
                        </a>
                        <div class="col-4 d-flex">
                            <a href="student-form" class="col-2 text-decoration-none text-reset">
                                <i class="fa-sharp fa-solid fa-trash"></i>
                            </a>
                            <a href="student-form" class="col-2 text-decoration-none text-reset">
                                <i class="fa-solid fa-user-pen"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card row" style="margin:3px;">
                <div class="card-body align-self-center" style="display:flex;">
                    <a th:href="@{/student-form}" class=" text-decoration-none text-reset"><i class="fa-solid fa-plus"></i> </a>
                    </div>
                </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
